@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='text']::placeholder,
input[type='search']::placeholder,
input[type='email']::placeholder,
input[type='number']::placeholder,
textarea::placeholder {
  @apply italic font-medium;
}
select:focus {
  @apply rounded-full;
}
option {
  @apply italic font-medium;
}
option:focus {
  @apply border border-2 rounded-full;
}

input[type='text']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
textarea:disabled {
  @apply bg-gray-500 text-white cursor-not-allowed;
}
input[type='submit']:disabled {
  @apply bg-blue-50 text-blue-400 border cursor-not-allowed border-blue-300;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
textarea:focus {
  @apply bg-green-100 text-blue-400;
}
section.contact {
  grid-template-columns: 0.6fr 0.4fr;
}
